* {
    font-family: "Courier New", Courier, monospace;
}


#intro {
    background-color: gray;
}


h1.especial {
    color: blue;
}


h2, h3 {
    border: 1px solid orange;
}


ul > li {
    color: red;
}


ul ul li {
    color: green;
}


p > img {
    border: 5px solid black;
}


img[alt="segunda"] {
    border: 5px solid red;
}

/* Joder que asco para esto, se me olvida la existencia de :has:, nunca me lo han enseñado XD */
h3:has(+ p) {
    background-color: pink;
}


p + h3 {
    background-color: blue;
}